<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Pokemon[id].name %></title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="header">
        <h1><%= Pokemon[id].name %></h1>
        <div id="showsIMG"><img src="<%=Pokemon[id].img %>"></div>
    </div>
    <div class="container">
        <div class="stats">
            <h3>Type</h3>
            <ul>
                <% for(let i = 0; i < Pokemon[id].type.length; i++){ %>  

                    <li><%= Pokemon[id].type[i] %></a></li>
                
                <% } %> 
            </ul>
        </div>
        <div class="stats"> 
            <h3>Stats</h3>
            <ul>
                <li>HP: <%= Pokemon[id].stats.hp %></a></li>
                <li>Attack: <%= Pokemon[id].stats.attack %></a></li>
                <li>Defense: <%= Pokemon[id].stats.defense %></a></li>
                <li>Sp Attack: <%= Pokemon[id].stats.spattack %></a></li>
                <li>Sp Defense: <%= Pokemon[id].stats.spdefense %></a></li>
                <li>Speed: <%= Pokemon[id].stats.speed %></a></li>
            </ul>
        </div>
    </div>
    <div class="buttons">
        <a href="/poke/<%= id %>/edit"><button>Edit</button></a>
        <form action="/poke/<%= id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form>
        <a href="/poke"><button>Back</button></a>
    </div> 
</body>
</html>